@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
  //Default font size on html element is 100%, equivalent to 16px;
    @return #{$remSize}rem;
  }
  
  // Mixin that will include the fall back px declaration as well as the calculated rem value.
  @mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
  }
html {
    font-family: 'PT Sans', sans-serif;
}

// Clearfix
a {
    text-decoration: none;
    //text-transform: uppercase; 
    border: none;
    box-shadow: none;
    &:hover {
        text-decoration: none !important;
    }
}
div#content {
    margin: 0;
    padding: 0;
    display: grid;
    @media (min-width: 768px) {
    grid-template-columns: 2fr 2fr minmax(0,6fr) 2fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header header header header"
        ". sidebar main ."
        "bottom bottom bottom bottom";  
    grid-column-gap: 1.5rem;
    }
    @media (max-width: 767px) {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            "header"
            "sidebar"
            "main"
            "bottom";   
    }
}
@media (min-width: 768px) {
    article.entry {
        display: grid;
        grid-template-columns: 2fr 4fr;
        grid-template-rows: auto auto;
        grid-template-areas: "image description";
        grid-column-gap: 1rem;
    }
    section#main {
        padding-top: 56px;
    }
    section#nav-mobile {
        visibility: hidden;
    }
    section#nav-desktop {
        margin-top: 20px;
        font-weight: bold;
        text-align: right;
        display: grid;
        grid-template-columns: 2fr 8fr 2fr;
        grid-template-areas: ". nav .";
        div {
            grid-area: nav;
            a {
                color: white;
                margin-left: 2rem;
                &:hover {
                    border-bottom: 3px solid white;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    #sidebar {
        text-align: center;
    }
    section#main {
        margin-left: 1.5625rem;
        margin-right: 1.5625rem;
    }
    article.entry {
        margin-bottom: 4rem;
    }
    // Header Navbar
    header#main-header {
        font-family: 'PT Sans', sans-serif;
        text-align: right;
    }
    div.menu {
        visibility: hidden;
        display: none;
    }
    section#nav-desktop {
        display: none;
        position: absolute;
    }
    .stats {
        display: none;
    }
    .fun-fact {
        padding: 1rem;
    }
}
header#main-header {
    display: block;
    width: 100%;
    height: 171px;
    background: url('../assets/header.jpg');
    background-size: cover;
    background-position: center;
    grid-area: header;
}
.avatar-container {
    margin-top: -50px;
    .avatar {
        width: 128px;
        height: 128px;
        background: url('../assets/avatar.jpg');
        background-size: cover;
        border-radius: 100px;
        margin-top: -64px;
        border: 3px solid #FFFFFF;
        border-radius: 123px;
        margin: 0 auto;
    }
}

section#main {
    grid-area: main;
    h1.section {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height */
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5em;
        /* Gray 1 */
        color: #333333;
        margin: 0;
    }
    article.entry {
        margin-top: 24px;
        section.image {
            grid-area: image;
            overflow: hidden;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                margin-bottom: 10px;
                transition: transform 0.5s ease-in-out;
                &:hover {
                    transform: scale(1.5);
                }
            }
        }
        section.description {
            grid-area: description;
            h1.title {
                font-family: PT Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 36px;
                margin: 0;
            }
            p.date {
                font-size: 12px;
                line-height: 16px;
                color: #999;
                margin-bottom: 24px;
            }
            p {
                font-size: 14px;
                line-height: 18px;
                margin: 0;
            }
            button.btn_more {
                display: block;
                width: 125px;
                text-align: center;
                margin-top: 13px;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 0.15rem;
                font-size: 12px;
                border: 2px solid black;
                color: black;
                padding: 5px 14px;
                cursor: pointer;
                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}
section#sidebar {
    grid-area: sidebar;
    h1.author-name {
        font-style: normal;
        font-weight: bold;
        font-size: calculateRem(24px);
        margin-bottom: 5px;
        margin-top: 1rem;
    }
    i {
        font-size: 16px;
        vertical-align: middle;
        margin-right: 5px;
    }
    p {
        font-size: 14px;
        line-height: 24px;
        /* Gray 1 */
        color: #333333;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .menu {
        margin-top: 17px;
        p {
            font-size: 18px;
            line-height: 23px;
        }
        margin-bottom: 27px;
    }
    .stats {
        span.stat {
            display: block;
            border-bottom: 5px solid #F2C94C;
            margin-top: 10px;
            letter-spacing: 0.25rem;
            text-align: left;
            font-size: 14px;
        }
    }
    .fun-fact {
        margin-top: 3rem;
        .fun-fact-figure {
            background: url("../assets/science.svg") no-repeat;
            height: 107px;
            width: 114px;
            display: block;
            margin: 0 auto;
        }
        h2 {
            margin-top: 1rem;
            font-size: 23px;
            line-height: 28px;
        }
    }
}

footer {
    grid-area: bottom;
    text-align: center;
}

.nav-title {
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: white;
}

/* ABOUT ME */
section#about-me {
    p {
        margin: 0;
    }
}